.MovieDiv{
    display: flex;
    flex-wrap: wrap;
    /* align-items: stretch; */
    max-width: 100vw;
    max-height: 100vh;
    padding-left: 10vh;
}

.MovieImg {
    height: 300px;
    width: 200px;
    padding-top: 10vh;
    padding-left: 7vw;
}