.MovieDiv{
    display: flex;
    flex-wrap: wrap;
    /* align-items: stretch; */
    max-width: 100vw;
    max-height: 100vh;
    padding-left: 8vh;
}

.MovieImg {
    height: 300px;
    width: 200px;
}

.MovieItem{
    margin: 18px;
}


.MovieImg:hover {
    opacity: 0.5;
}